.books {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 2rem 1rem 2rem 10rem;
}

.books ul {
  border-radius: 0.5rem;
  background: linear-gradient(var(--card-bg-color), rgba(0, 0, 0, 0));
}

.books li {
  display: flex;
  text-align: left;
}

.books img {
  border-radius: 0.5rem;
  margin-right: 1.5rem;
  transition: all 0.2s;
  transform: translate(0, -1.5rem);
  animation: zoomin 0.5s;
}
.books img:hover {
  transform: translate(0, -1.3rem) scale(1.1);
}

.book-title, .book-author {
  width: 14rem;
  font-weight: bold; 
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.book-author {
  font-weight: normal;
}

.book-categorie {
  background-color: var(--secondary-color);
  opacity: 0.7;
  padding: 0.4rem 1rem;
  width: fit-content;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 5rem;
  color: var(--bg-color);
  font-size: 0.8rem;
}

@media (max-width: 768px) {
  .books {
    display: inline-block;
    margin: 1.5rem 0;
  }
  .book-title, .book-author {
    width: 12rem;
  }
}
