ul {
  list-style: none;
}

.search-box input {
  padding: 0.5rem 1rem;
  margin: 1rem 0 1.3rem 0;
  border: none;
}

.search-box img {
  position: absolute;
  width: 1.5rem;
  top: 6.2rem;
  right: 26.3rem;
}

.search-box { grid-area: form; }
.genres { grid-area: menu; }
.books { grid-area: main; }

.container {
  display: grid;
  grid-template: auto / auto auto;
  grid-template-areas: 
  'menu form form'
  'menu main main';
}

.genres {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 3rem;
  width: 13%;
  border-radius: 0.3rem;
  padding: 0;
  background-color: #d0b4e8;
}

.genres button {
  border: none;
  border-radius: 0.3rem;
  padding: 0.4rem 0.4rem;
  background: transparent;
  color: #164f86;
  font-weight: bold;
  line-height: 3rem;
  outline: none;
}

.genres img {
  width: 1.5rem;
  vertical-align: middle;
  margin: 0 0.3rem 0.3rem 0;
}

.genres button:hover {
  background: #b6a3e4;
  transition: 0.8s;
}

.genres button:focus{
  background: #b6a3e4;
}

.books {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20%;
  align-items: flex-end;
}