ul {
  list-style: none;
}

.search-box input {
  padding: 0.5rem 1rem;
  margin: 3rem 0 1.3rem 0;
  border: none;
  color: var(--secondary-color);
  font-family: 'Nunito', sans-serif;  
  font-weight: bold;
}

.genres {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 1.5rem;
  width: 13%;
  border-radius: 0.3rem;
  padding: 0;
}

.genres button {
  border: none;
  border-radius: 0.3rem;
  padding: 0.4rem 0.4rem;
  margin-bottom: 0.2rem;
  background: transparent;
  text-transform: capitalize;
  color: var(--secondary-color);
  line-height: 3rem;
  font-family: 'Nunito', sans-serif;  
  font-size: 1rem;
  outline: none;
}

.genres button:hover {
  background: var(--card-bg-color);
  transition: 0.8s;
}

.genres button:focus{
  background: var(--card-bg-color);
}
.genres img {
  width: 1.5rem;
  vertical-align: middle;
  margin: 0 0.5rem 0.3rem 0;
}

@media (max-width: 900px) {
  .genres button {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .genres {
    display: flex;
    flex-direction: row;
    position: initial;
    justify-content: space-evenly;
    width: 100%;
    padding: 0 1.7rem;
}
  .genres button {
    line-height: 1rem;
  }
}