@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100&display=swap');

:root {
  --bg-color: #010125;
  --primary-color: #75eeb2;
  --secondary-color: #dda0dd;
  --card-bg-color: #a088f340;
  --card-bg-color2: #7ef7ce57;
  --card-bg-color3: #ed7ef757;
}

body {
  background: var(--bg-color);
  color: var(--primary-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', sans-serif;
}

ul {
  list-style: none;
}

.App {
  text-align: center;
}

.App aside {
  display: flex;
  left: 2rem;
}

.github {
  position: fixed;
  bottom: 1.5rem;
  left: 2rem;
  width: 2rem;
  opacity: 0.4;
}

.github:hover {
  opacity: 0.5;
  transition: 0.9s;
}
.search-box input {
  width: 15%;
  padding: 0.5rem 1rem;
  margin: 3rem 0 1.3rem 0;
  border: none;
  color: var(--secondary-color);
  font-family: 'Nunito', sans-serif;  
  font-weight: bold;
}

@media (max-width: 768px) {
  .App aside {
    display: inline-block;
  }
  .search-box input {
    width: 40%;
  }
  .github {
    width: 1.8rem;
    left: 0.7rem;
  }
}