.category-bookshelf button {
  display: flex;
  position: relative;
  bottom: 4.5rem;
  left: 0.6rem;
  padding: 0;
  border: none;
  background: transparent;
  color: var(--primary-color);
  font-weight: bold;
  outline: none;
}

#btn-remove-book:hover {
  opacity: 0.8;
  transition: 0.9s;
}

#btn-remove-book img {
  width: 1.7rem;
  transform: none;
}