.category-bookshelf button {
  display: flex;
  position: relative;
  bottom: 3rem;
  left: 0.6rem;
  padding: 0;
  border: none;
  background: transparent;
  color: var(--primary-color);
  font-weight: bold;
  outline: none;
}
.category-bookshelf button:hover {
  opacity: 0.8;
  transition: 0.9s;
}

.category-bookshelf button img {
  width: 1.7rem;
}